// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


$green: #61bd4f;
$yellow: #f2d600;
$orange: #ff9f1a;
$red: #eb5a46;
$purple: #c377e0;
$blue: #0079bf;
$sky: #00c2e0;
$lime: #51e898;
$pink: #ff78cb;
$black: #344563;
$null: #b3bac5;

$secondary: rgba(9,30,66,.04);

