// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "vue-select/src/scss/vue-select.scss";

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import 'boards';
@import 'base';